{% extends 'base.html' %}
{% load static %}
{%  block content%}

<div class="row my-2" >
    <body class="text-center text-white bg-dark" my-2></body>
    
    <div class="cover-container d-flex w-80 h-80 p-3 mx-auto flex-column" my-2 md-2>
      
      <main class="px-3">
        <h1>My Shop.in</h1>
        <p class="lead">We know what you want ! <br> We have humongous range of range of products here in <strong>My Shop.</strong></p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">
            <button type="button" class="btn btn-">Learn More</button>
          </a>
        </p>
      </main><br><br><br><br><br><br><br><br><br><br><br><br>
    
<footer class="mt-auto text-white-50">
        <p>here in your srvice<a href="{% url 'prod' %}" class="text-white"> MY Shop</a>, by <a href="https://twitter.com/SahilKatoch02" class="text-white"> @SAHIL KATOCH</a>.</p>
</footer>
    </div>
</div>
    
    
        
      
    
    </body>









{% endblock content%}