{% extends 'base.html' %}
{% load static %}




{% block content %}
{%load static%}
<div class="my-2">
    <a class="btn btn-outline-dark" href="{% url 'prod' %}">&#9756; <strong> Continue Shopping</strong></a>
</div>

<div class="card text-center">
    <div class="card-header">
     <strong>Your Cart &#128722;</strong> 
    </div>
    <div class="card-body">
      <table class="table">
          <tr>
          <th><h4>Items : <strong>{{order.get_cart_items}}</strong></h4></th>
          <th><h4>Total: <strong> ₹ {{order.get_cart_total}}</strong></h4></th>
          <th>

              <a style="float: right; margin: 5px " class="btn btn-success" href="{% url 'checkout' %}">
                Checkout
              </a>
          </th>
          </tr>
            
      </table>
    </div>
    <div class="card-footer text-muted">
      
    </div>
  </div>





		

{% endblock content %}



{%block carts%}
<style>

.quantity{
  display: inline-block;
  font-weight: 700;
  padding-right: 10px;
}
.chg-quantity{
  width: 14px;
  cursor: 10px;
  display: block;
  margin-top: 15px;
  transition: 1s;
  
  
}

</style>

<div class="my-2">


    <div class="card text-center">
      <div class="card-header">
       <strong><i>Details</i></strong>
       </div>
      
      
        <table class="table">
          <tr>
              <th>
              </th>
              <th>Item</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
          </tr>

      {% for item in items %}
      <div class="cart-row"> 
          <tr>
          
          <td><img  class='row-image' src="/media/{{item.products.thumbnail}}"  border=3 height=100 width=100></img></td>
          <td> <b> <i class="text-primary"> {{item.products.name}} </i> </b></td>
          <td> ₹ {{item.products.price}}</td>
          <div class="quantity">
            <td class="quantity">{{item.quantity}}
              
                <img data-product="{{item.products.id}}" data-action="add" class="chg-quantity update-cart " src="{% static 'shop/upp.png' %}" >
                <img data-product="{{item.products.id}}" data-action="remove" class="chg-quantity update-cart " src="{% static 'shop/downn.png' %}" >
                <hr>
            </td>
          </div>
          <td> <strong> ₹ {{item.get_total}} </strong></td>
          </tr>
        
      </div>
      {% endfor %}
      </table>
  </div>  
  
  {%endblock carts%}